@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.becomemainwrapper {
    background-color: #29465b;
    font-family: font3!important;
}

.titlehead {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    gap:10px;
    font-weight: 600; 
}

.scrolling-words-box {
  color: #84bb29;
  font-size: 3.1875em;
}
.scrolling-words-box  {
  padding: 0;
  -moz-transform:translateX(20%);
  -webkit-transform:translateX(20%);	
  transform:translateX(30%);
  -moz-animation: bouncing-next 5s linear infinite alternate;
  -webkit-animation: bouncing-next 5s linear infinite alternate;
  animation: bouncing-next 5s linear infinite alternate;
}

 /* Move it (define the animation) */
 @-moz-keyframes bouncing-next {
    0%   { -moz-transform: translateX(10%); }
    100% { -moz-transform: translateX(10%); }
   }
   @-webkit-keyframes bouncing-next {
    0%   { -webkit-transform: translateX(10%); }
    100% { -webkit-transform: translateX(150%); }
   }
   @keyframes bouncing-next {
    0%   { 
    -moz-transform: translateX(30%); /* Browser bug fix */
    -webkit-transform: translateX(30%); /* Browser bug fix */
    transform: translateX(10%); 		
    }
    100% { 
    -moz-transform: translateX(-10%); /* Browser bug fix */
    -webkit-transform: translateX(-10%); /* Browser bug fix */
    transform: translateX(-10%); 
    }
    
}


.title-one {
    font-size: 3.1875em;
    line-height: 70px;
    color: #fff;
    
}

.title-two {
    color: #84bb29;
    font-size: 3.1875em;
    letter-spacing: -0.01em;
    line-height: 70px;
}

.sroll-up-text {
    color: #84bb29;
    font-size: 3.1875em;
    letter-spacing: -0.01em;
    line-height: 70px;
}


.detail-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.detail-message h4 {
    margin-bottom: 5px;
    font-size: 1.375em;
    font-weight: 10px;
    line-height: 32px;
   font-family: 'Open Sans', sans-serif;
}

.btn-wrapper {
    padding-bottom: 35px;
    margin-top: 20px;
}

/* .space-wrapper {
    background: rgb(255, 255, 255);
    border-radius:25px;
    margin-bottom: 45px;
    color: rgb(15, 15, 25);
    font-size: 0.8em;
    font-family: AlmarenaBold, sans-serif;
    padding: 10px 20px;
} */

.btn-navbar {
    background: #84bb29!important;
    border-radius: 20px !important;
    color: #fff!important;
    text-align: center;
    margin-bottom: 20px !important;
}

/* media query for snmall screen */
/* ===================================== */
@media screen and (max-width: 960px) {
    .becomemainwrapper {
        background-color: #29465b;
        font-family: font3!important;
     
        /* width: 100vw; */
    }

    .titlehead {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        padding-top: 10%;
        gap:10px;
        font-weight: 600; 
    }

    .scrolling-words-box {
        color: #84bb29;
        font-size: 2.1875em;
        margin-top: 10px;
      }
      .title-one {
        font-size: 2.1875em;
        line-height: 0px;
        color: #fff;
        
    }
}