@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.becomemainwrapper {
    background-color: #29465b;
    font-family: font3!important;
}

.titlehead {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    gap:10px;
    font-weight: 600; 
}

.scrolling-words-box {
  height: 3rem;
  overflow: hidden;
  color: #84bb29;
  font-size: 3.1875em;
  letter-spacing: -0.01em;
  line-height: 70px;
}
.scrolling-words-box ul {
  /* margin: 0 0.625rem; */
  padding: 0;
  /* animation: scrollUp 4s infinite; */
  -moz-transform:translateX(50%);
  -webkit-transform:translateX(50%);	
  transform:translateX(50%);
  /* Apply animation to this element */	
  -moz-animation: bouncing-text 5s linear infinite alternate;
  -webkit-animation: bouncing-text 5s linear infinite alternate;
  animation: bouncing-text 5s linear infinite alternate;
}

 /* Move it (define the animation) */
 @-moz-keyframes bouncing-text {
    0%   { -moz-transform: translateX(50%); }
    100% { -moz-transform: translateX(-50%); }
   }
   @-webkit-keyframes bouncing-text {
    0%   { -webkit-transform: translateX(50%); }
    100% { -webkit-transform: translateX(-50%); }
   }
   @keyframes bouncing-text {
    0%   { 
    -moz-transform: translateX(50%); /* Browser bug fix */
    -webkit-transform: translateX(50%); /* Browser bug fix */
    transform: translateX(50%); 		
    }
    100% { 
    -moz-transform: translateX(-50%); /* Browser bug fix */
    -webkit-transform: translateX(-50%); /* Browser bug fix */
    transform: translateX(-50%); 
    }
    
}

.scrolling-words-box ul li {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 3rem;
  list-style: none;
}
/* @keyframes scrollUp {
  15%, 25% {
    transform: translateY(-50%);
  }
} */

.title-one {
    font-size: 3.1875em;
    letter-spacing: -0.01em;
    line-height: 70px;
    color: #fff;
    
}

.title-two {
    color: #84bb29;
    font-size: 3.1875em;
    letter-spacing: -0.01em;
    line-height: 70px;
 
    
}

.sroll-up-text {
    color: #84bb29;
    font-size: 3.1875em;
    letter-spacing: -0.01em;
    line-height: 70px;
}

.sroll-up-text li {
    list-style-type: none;
}

.scrolling-words-box {
    /* height: 3rem; */
    /* overflow: hidden; */
}
    
.scrolling-words-box ul {
      /* margin: 0 0.625rem; */
      padding: 0;
      /* animation: scrollUp 4s infinite; */
}

.detail-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;

}

.detail-message h4 {
    margin-bottom: 5px;
    font-size: 1.375em;
    font-weight: 10px;
    line-height: 32px;
   font-family: 'Open Sans', sans-serif;
}

.btn-wrapper {
    padding-bottom: 35px;
    margin-top: 20px;
}

.space-wrapper {
    background: rgb(255, 255, 255);
    border-radius:25px;
    margin-bottom: 45px;
    color: rgb(15, 15, 25);
    font-size: 0.8em;
    font-family: AlmarenaBold, sans-serif;
    padding: 10px 20px;
}

.btn-navbar {
    background: #84bb29!important;
    border-radius: 20px !important;
    color: #fff!important;
    text-align: center;
    margin-bottom: 20px !important;
}
