.main-image-wrapper {
    justify-content: center;
    display: flex;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f2f2f2;
    overflow: hidden;
    /* width: 100%; */

}

.first-image-holder img,
.third-image-holder img,
.fourth-image-holder img,
.second-image-holder img{
    height: 200px;
    margin: 20px;
    border-radius: 20px;
}

.image-holder {
    text-align: center;
}

.image-holder h1 {
    font-size: 1.22em;
}

.slider-track{
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); */
    margin: 10px;
    display: flex;
    /* width: 30%; */
    animation-name: rightToLeft;
    animation-duration: 16.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

.slider-track-two{
    margin: 10px;
    display: flex;
    /* width: 40%; */
    animation-name: secondrightToLeft;
    animation-duration: 30.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes secondrightToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-600px));
  }
  
}

/* @keyframes rightToLeft {
  0% { left: 0;}
  100% {left: -100%;}
} */
@keyframes rightToLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-1300px));
    }
    
  }


/* media query for snmall screen */
/* ===================================== */
@media screen and (max-width: 960px) {
    .first-image-holder img,
    .third-image-holder img,
    .fourth-image-holder img,
    .second-image-holder img{
        height: 100px;
        margin: 5px;
        margin-top: 20px;
        margin-right: 20px;
        border-radius: 20px;
        /* gap: 20px; */
    }

    .image-holder {
        text-align: center;
        width: 20%;
    }

    .image-holder h1 {
        font-size: 15px;
    }

    @keyframes rightToLeft {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-950px));
      }
      
    }

}