.main-image-wrapper {
    justify-content: center;
    display: flex;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f2f2f2;
    overflow: hidden;
    width: 100%;

}

.first-image-holder img,
.third-image-holder img,
.fourth-image-holder img,
.second-image-holder img{
    height: 200px;
    margin: 20px;
    border-radius: 20px;
}

.image-holder {
    text-align: center;
}

.first-image-holder,
.third-image-holder,
.fourth-image-holder,
.second-image-holder,
.fifth-image-holder,
.sixth-image-holder,
.seventh-image-holder,
.eigth-image-holder,
.nineth-image-holder {
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); */
    margin: 10px;
    animation-name: rightToLeft;
    animation-duration: 10.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rightToLeft {
    0% {
      transform: translateX(600px);
    }
    100% {
      transform: translateX(-1500px);
    }
  }


/* media query for snmall screen */
/* ===================================== */
@media screen and (max-width: 960px) {
    .first-image-holder img,
    .third-image-holder img,
    .fourth-image-holder img,
    .second-image-holder img{
        height: 100px;
        margin: 5px;
        border-radius: 20px;
    }

    .image-holder {
        text-align: center;
        width: 20%;
    }

    .image-holder h1 {
        font-size: 15px;
    }

}