@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.mainnavbar {
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    padding-top: 35px;
    /* padding-bottom: 15px; */
    font-size: 1em;
    color: #fff;
    line-height: 15px;
}

.mainnavbar ul li a {
    text-decoration: none;
    color: #fff;
    margin-top: 20px !important;
    font-family: 'Roboto', sans-serif;
}

.mainnavbar ul li {
    cursor: pointer;
    list-style-type: none;
    font-family: font1!important;
  
    
}

.btn-navbar {
    background: #84bb29!important;
    border-radius: 20px !important;
    color: #fff!important;
    text-align: center;
    margin-bottom: 20px !important;
    bottom: 10px;
}

.logo a{
    bottom: 10px;
}
.nav-link-group {
    display: flex;
    justify-content: flex-end;
    background-color: brown;
    width: 30%;
}

.nav-link-group ul li{
    margin-right: 50px;
}