.main-title {
    text-align: center;
}

.main-endorsed-wrapper ul{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.main-endorsed-wrapper ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-endorsed-wrapper img {
    width: 120px;
    height: 60px;
}

/* media query for snmall screen */
/* ===================================== */
@media screen and (max-width: 960px) {
    .main-endorsed-wrapper ul{
        flex-direction: column;
    }
}