.video-setionmainwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.title-wrapper {
    margin-top: 4%;
}

.message-wrapper {
    width: 50%;
    margin-bottom: 7%;
}